{% load static bootstrap4 %}

<div class="position-relative text-center py-0 small subpixel-antialiased">
  <p class="banner-slogan mb-0">
    Time-domain astronomy made time efficient.
  </p>

  <div class="position-absolute top-0 end-0 me-3 text-muted" title="New GOATS version available: {{ version_info.latest }}">
    <i class="fas fa-exclamation-triangle fa-fade" style="--fa-animation-duration: 2s"></i> <span class="d-md-inline d-none">New version available: <span class="font-monospace">{{ version_info.latest }}</span></span>
  </div>
</div>

