{% extends "tom_common/base.html" %}
{% load static %}
{% block title %}Service Status{% endblock %}
{% block content %}
<h1 class="h2 mb-1">Service Status</h1>
<p>Connection and account checks from this GOATS server.</p>
<noscript>Enable JavaScript to check service status.</noscript>
<div id="statusContainer" data-username="{{ request.user.username }}"></div>
{% endblock %}
{% block javascript %}
{{ block.super }}
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/status_dashboard.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const container = document.getElementById("statusContainer");
    new StatusDashboard(container, { username: container.dataset.username });
  });
</script>
{% endblock %}
