{% extends 'tom_common/base.html' %}
{% load bootstrap4 %}
{% block title %}Reset password{% endblock %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-4">
    <h3>Reset your password</h3>
    <p class="small">
      Enter the email address on your account and we'll send you a link to set
      a new password.
    </p>
    <form method="POST" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">Send reset link</button>
      {% endbuttons %}
    </form>
    <hr>
    <p class="small mb-0"><a href="{% url 'login' %}">Back to sign in</a></p>
  </div>
</div>
{% endblock %}
