{% extends 'tom_common/base.html' %}
{% load bootstrap4 %}
{% block title %}Set a new password{% endblock %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-4">
    {% if validlink %}
      <h3>Set a new password</h3>
      <form method="POST" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">Change password</button>
        {% endbuttons %}
      </form>
    {% else %}
      {% comment %}
      Reached when the link has expired or has already been used. Offering the
      form again is the useful response -- telling someone the link is invalid
      and leaving them there is not.
      {% endcomment %}
      <h3>This link has expired</h3>
      <p>
        Password reset links can only be used once, and expire after a short
        time.
      </p>
      <p class="mb-0">
        <a href="{% url 'password_reset' %}">Request a new one</a>
      </p>
    {% endif %}
  </div>
</div>
{% endblock %}
