{% load tom_common_extras %}

<div class="card">
    <div class="card-header px-2 d-flex justify-content-between align-items-center">
        <h4 class="mb-0">Recent Photometry</h4>

        <form method="post"
              action="{% url 'refresh_antares_photometry' target.id %}"
              class="mb-0">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-primary">
                Refresh
            </button>
        </form>
    </div>

    <table class="table mb-0">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Magnitude</th>
            </tr>
        </thead>
        <tbody>
        {% for datum in data %}
        <tr>
            <td>{{ datum.timestamp }}</td>
            <td>
                {% if datum.limit %}&gt;{% endif %}
                {{ datum.magnitude|truncate_value_for_display:8 }}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No recent photometry.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

